/*  selectors (ranked by priority)
	
	id
	class
	combinators
	*/

/*  relative lengths

	%
	em (relative to font size)
	rem (relative to the current font size on the html element)
	vw (relative to width of viewport divided by 100)
	vh (relative to height of viewport divided by 100)
	
	absolute length

	px
	in 
	pt
*/

/*Universal
		All elements will have the follwing traits
		Monospace - if no Courier New, it is the fallback font*/
*{


	font-family: "Courier New", monospace;
	font-size: 20px;
	/*CSS Reset*/
	margin: 0;
	padding: 0;
}

body {
	background-color: skyblue;
}

html {
	scroll-behavior: smooth;
}

nav {
	background-color: white;
}

/*type selector*/
h1	{
	color: blue !important;
	text-align: center;
	font-size: 2rem;
}

h2{
font-size: 1.5rem;	
}

ol {
	list-style-type: none;
}

section {
	height: 100vh;
	text-align: center;
}

/*id selector (uses #)*/

#zuitt-motto{
	letter-spacing: 5px;
}

/*class selector uses (.)*/

.offering-item {
	text-transform: uppercase;
}

/*attribute selector (uses[])
	those with the same attribute
*/

input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/*adjacent sibling selector (uses +) - selects a 
particular element following a sibling element*/

#zuitt-motto + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*descendant selector (smthing *space* smthing) */

#bootcamp-learning-list li {
	color:  red;
}

/*general sibling selector - select siblings after previous sibling*/

h2 ~ a {
	text-decoration: none;
}

form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

/*child selector (parent > child)*/
section > form > label {
	color: rgb(1, 1, 128);
}

/*Mini_Activity
	Style button following:
		text should be white
		bg of the button is #cf0053
		0 border
		border raidus 15px
*/

button {
	background-color: #cf0053;
  	color:white;
  	border: 0;
  	border-radius: 15px;
  	padding: 3px;
  	margin-top: 2px;
}