/*CSS Selectors*/

*{
	font-family: "Verdana", sans-serif;
	font-size: 20px;
}

h1 {
	font-size: 3rem;
}

p {
	color: #FFFF00;
}

h2 {
	text-transform: uppercase;
}

#picture + li {
	list-style-type: none;
}

.learning-list {
	background-color:#00FF00 ;
}

.tools-list {
	border-color: #0000FF;
	border-width: 2px;
	border-style: solid;
}

/*Combinators Selectors*/

#picture + li {
	list-style-type: none;
}

section img {
	height: 20vh;
	width: 20vh;
	border-radius: 150px;
}

h2 ~ ul {
	text-align: center;
}

div > ul > li {
	letter-spacing: 10px;
}
